.card{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 800px;
    margin: 0 auto;
    position: relative;
}
.image{
    height: 500px;
    width: 800px;
}
.tags{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 32px;
}
.text{
    margin-left: 20px;
}
.username{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 300px;
}
.ProfilePicture{
    margin-right: 10px;
}