*{
  text-decoration: none;
}
.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  position: absolute;
}
.navbarMenu{
  position: absolute;
  width: 100vw;
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.basicLogo{
  width: 87px;
  height: 60px;
  font-weight: 600;
  align-items: center;
  font-size: 27px;
  margin-top: 20px;
  margin-left: 130px;
}
.basicMenu{
  display: flex;
  justify-content: space-between;
  width: 490px;
  margin-right: 115px;

}
.menubutton{
  height: 28px;
  width: 68px;
  margin-top: 27px;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
}
.signupButton{
  height: 56px;
  width: 128px;
  border-radius: 4px;
  border: 2px solid grey;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
